@import "tailwindcss";
@source "./index.html";
@source "./src";

@custom-variant dark (&:where(.dark, .dark *));

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@layer base {
  body {
    font-family: 'Outfit', sans-serif;
  }
}